/* tablet min641 ~ max999 */
@media screen and (min-width: 641px) and (max-width: 999px) {
  #wrap{width: 100%; height: auto; min-height: 500px;}
/* #headBox */
  #headBox{width: 100%; height: 200px;}
    #headBox>h1{width: 100%; height: 140px; padding-top: 35px; box-sizing: border-box;}
      #headBox>h1>a{display: block; width: 15vw; height: 7vw; /* 높이값 70 / 기준가로값 1000 * 100 vw */
        background-image: url("../../img/acg_common_h_logo.png");
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -ms-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        margin-left: 42.5vw;/* 해당값 425 / 기준가로값 1000 * 100 vw */}
    /* 웹 접근성을 위해 스크린리더로는 읽을 수 있지만 웹상에는 표기되지 않게 했습니다. */
        #headBox>h1>a>span{display: block; width: 0; height: 0; overflow: hidden; position: absolute; z-index: -1;}
    #gnb{width: 100%; height: 60px; box-sizing: border-box;
    border-top:1px solid #999;
    border-bottom:1px solid #999;}
    /* 웹 접근성을 위해 스크린리더로는 읽을 수 있지만 웹상에는 표기되지 않게 했습니다. */
      #gnb>h2{display: block; width: 0; height: 0; overflow: hidden; position: absolute; z-index: -1;}
      #gnb>ul{width: 80%; height: 100%; margin-left: 10%;}
        #gnb>ul>li{width: 25%; height: 100%; float: left;}
          /* width값을 80%로 하여 버튼들 간의 간격을 두어 사용자 편의에 도움을 주었습니다. */
          #gnb>ul>li>a{display: block; width: 80%; height: 100%; margin-left: 10%; font-size: 18px; line-height: 60px; text-align: center;  font-weight: bold; text-transform: uppercase; color: #333;}
          #gnb>ul>li>a:hover{color: #4ECAC2;}
/* //#headBox */
/* #contentBox */
  #contentBox{width: 100%; height: auto;}
  #contentBox h3,p,span{letter-spacing: -1px;}
    .video_wrap{width: 80%; height: auto; padding: 100px 0 200px 0; box-sizing: border-box; margin: 0 auto;}
      .video_wrap>iframe{width: 100%; height: 45vw; /* 높이값 450 / 기준가로값 1000 * 100 vw */ background-color: #ddd;}
        .video_wrap>iframe>h3{display: block; width: 0; height: 0; overflow: hidden; position: absolute; z-index: -1;}
    .connection_wrap{width: 100%; height: auto;}
      .connection_wrap>h3{margin-bottom: 45px; font-size: 35px; text-transform: capitalize; text-align: center;}
      .connection_wrap>p{font-size: 25px; line-height: 36px; text-transform: capitalize; text-align: center;}
    /* text 부분 강조는 html의 <strong>태그 대신 css를 이용하였습니다. */
    .about_wrap{width: 100%; height: 73vw; /* 높이값 730 / 기준가로값 1000 * 100 vw */ min-height: 650px; padding: 180px 0 100px 0; box-sizing: border-box;}
      .about_box{width: 100%; height: 100%; padding-top:16vw; /* 해당값 160 / 기준가로값 1000 * 100 vw */ box-sizing: border-box;
        position: relative;
        background-image: url("../../img/bench-accounting.png");
        background-repeat: no-repeat;
        background-position: left center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
        -o-background-size: cover;
        background-size: cover;}
        .about_box>h3{font-size: 29px; line-height: 45px; text-transform: uppercase; text-align: center; margin-bottom: 20px;}
          .about_box>h3>span{font-weight: bold;}
        .about_box>div{width: 210px; height: 60px; border:1px solid #000; border-radius: 30px; position: absolute; left: 50%; margin-left: -105px;}
          .about_box>div>a{display: block; width: 100%; height: 100%; border-radius: 30px; font-size: 24px; line-height: 60px; text-align: center; text-transform: uppercase; color: #333 ;}
          /* ABOUT ACG버튼 hover시 효과 */
          .about_box>div>a:after{display: block; content: " "; width: 0; height: 100%; border-radius: 30px; transition: all 500ms ease; margin-top: -60px;}
          .about_box>div:hover>a:after{width: 100%; background-color: #333;}
          .about_box>div:hover>a{color: #fff;}
          /* //ABOUT ACG버튼 hover시 효과 */
    .service_wrap{width: 100%; height: auto;}
    .service_wrap:after{content:" "; display:block; width:100%; height:100%; clear:both;}
      .service_box{width: 80%; height: auto; margin: 0 auto;}
        .service_box>h3{height: 35px; font-size: 35px; text-transform: capitalize; text-align: center;}
        .service_box>ul{width: 100%; height: 54vw;/* 높이값 540 / 기준가로값 1000 * 100 vw */ padding: 100px 0 200px 0; box-sizing: border-box;}
          .service_box>ul>li{width: 30%; height: 24vw;/* 높이값 240 / 기준가로값 1000 * 100 vw */ float: left; margin-right: 5%;}
          .service_box>ul>li:hover{box-shadow: 10px 10px 15px #999;}
          .service_box>ul>li:nth-child(3){margin-right: 0;}
            .service_box>ul>li>a{display: block; width: 100%; height: 100%;
              background-repeat: no-repeat;
              background-position: center;
              -webkit-background-size: 100%;
              -moz-background-size: 100%;
              -ms-background-size: 100%;
              -o-background-size: 100%;
              background-size: 100%;}
            .service_box>ul>li:nth-child(1)>a{background-image: url("../../img/acg_main_service_img01.png");}
            .service_box>ul>li:nth-child(2)>a{background-image: url("../../img/acg_main_service_img02.png");}
            .service_box>ul>li:nth-child(3)>a{background-image: url("../../img/acg_main_service_img03.png");}
            /* 웹 접근성을 위해 스크린리더로는 읽을 수 있지만 웹상에는 표기되지 않게 했습니다. */
            .service_box>ul>li>span{display: block; width: 0; height: 0; overflow: hidden; position: absolute; z-index: -1;}
    .process_wrap{width: 100%; height: auto; position: relative;}
      .process_box{width: 100%; height: auto; margin: 0 auto;}
        .process_box>h3{font-size: 35px; text-align: center; text-transform: capitalize; margin-bottom: 45px;}
        .process_box>p{font-size: 25px; text-align: center; text-transform: uppercase; margin-bottom: 125px;}
        .process_box>div{width: 100%; height: 50vw;/* 높이값 500 / 기준가로값 1000 * 100 vw */
          background-image: url("../../img/acg_main_process_img.png");
          background-repeat: no-repeat;
          background-position: center;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -ms-background-size: cover;
          -o-background-size: cover;
          background-size: cover;}
          /* 웹 접근성을 위해 스크린리더로는 읽을 수 있지만 웹상에는 표기되지 않게 했습니다. */
          .process_box>div>span{display: block; width: 0; height: 0; overflow: hidden; position: absolute; z-index: -1;}
      .back_img{position: absolute; width: 100%; height: calc(442px + 12vw);/* .service_box>ul>li의 절반 크기 12vw  */ background-color: #EDEDEF; top: 0; left: 0; z-index: -100; margin-top: calc(-200px - 11vw);}
/* //#contentBox */
/* #footBox */
  #footBox{width: 100%; height: 400px; background-color: #333; margin-top: 200px; padding: 100px 100px 0 100px; box-sizing: border-box; position: relative;}
    /* 웹 접근성을 위해 스크린리더로는 읽을 수 있지만 웹상에는 표기되지 않게 했습니다. */
    #footBox>h2{display: block; width: 0; height: 0; overflow: hidden; position: absolute; z-index: -1;}
    .address_wrap{width: 100%; height: auto;}
    .address_wrap:after{content:" "; display:block; width:100%; height:100%; clear:both;}
      .address_text{width: 100%; height: auto; float:left; font-size: 18px; font-weight: bold; color: #fff; }
        .address_text>li{text-align: center; line-height: 30px;}
      .icon_wrap{width: 290px; height: auto; position: absolute; top: 0; left: 50%; margin-left: -145px; margin-top: 250px;}
        .icon_wrap>li{width: 50px; height: 50px; margin-right: 30px; float:left;
          background-repeat: no-repeat;
          background-position: center;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -ms-background-size: cover;
          -o-background-size: cover;
          background-size: cover;}
        .icon_wrap>li:nth-child(4){margin-right: 0;}
        .icon_wrap>li:nth-child(1){background-image: url("../../img/acg_common_f_sns_icon01.png");}
        .icon_wrap>li:nth-child(2){background-image: url("../../img/acg_common_f_sns_icon02.png");}
        .icon_wrap>li:nth-child(3){background-image: url("../../img/acg_common_f_sns_icon03.png");}
        .icon_wrap>li:nth-child(4){background-image: url("../../img/acg_common_f_sns_icon04.png");}
          .icon_wrap>li>a{display: block; width: 100%; height: 100%;}
          /* 웹 접근성을 위해 스크린리더로는 읽을 수 있지만 웹상에는 표기되지 않게 했습니다. */
            .icon_wrap>li>a>span{display: block; width: 0; height: 0; overflow: hidden; position: absolute; z-index: -1;}
/* //#footBox */
}
/* -----tablet min641 ~ max999 */